// specialists

.specialists {
    position: relative;
    width: 100%;
    height: 1240px;
    background: @white url('../img/specialists-background.png') repeat-x center top;

    &__photo {
        margin-top: 24px;
    }

    &__list {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 280px;
        z-index: 10;
        bottom: 140px;
        display: flex;
        justify-content: center;
        list-style: none;

        &-item {
            margin-right: 24px;
            position: relative;
            width: 226px;
            height: 270px;

            &:last-child {
                margin-right: 0;
            }

        }

        &-link {
            top: 0;
            display: flex;
            width: 100%;
            height: 100%;
            border: 5px solid transparent;
            background: url('../img/specialist-link.png') repeat-x 0px 100px;
            z-index: 112;
            opacity: 1;
            display: flex;
            align-items: flex-end;
            text-decoration: none;

            &:hover, &_active {
                border-color: @yellow;
                text-decoration: none;
            }

        }

        &-photo {
            top: 0;
            position: absolute;
            z-index: -1;
        }

        &-box {
            margin: 0 0 0 0;
            display: flex;
            flex-direction: column;
        }

        &-surname, &-name {
            margin: 0 15px;
            padding: 0;
            display: block;
            width: 100%;
            font-size: 18px;
            font-family: 'latob', sans-serif;
            color: @white;
            line-height: 22px;
            text-decoration: none;
        }

        &-name {
            margin-bottom: 4px;
        }

        &-post {
            margin: 0 5px 11px 15px;
            font-size: 14px;
            font-family: 'lator', sans-serif;
            color: @yellow;
            line-height: 18px; 
        }

    }

    &__container {
        width: 100%;
        height: 520px;
        display: flex;
        flex-direction: row;

        &:nth-child(1) {
            width: 1246px;
            height: auto;
            flex-direction: column;
        }

    }

    &__title {
        margin: 80px 0 60px 0;
        font-size: 42px;
        font-family: 'serifb', sans-serif;
        font-weight: bold;
        color: @white;
        text-align: center;
    }

    &__space-bottom {
        bottom: 30px;
        position: absolute;
        width: 600px;
        height: 60px;
        background: url('../img/gradient4.png') repeat-x;
    }

    &__space-top {
        top: 110px;
        position: absolute;
        width: 600px;
        height: 60px;
        background: url('../img/gradient4.png') repeat-x ;
        transform: rotate(180deg);
    }

    &__box {
        height: 370px;
        padding-right: 60px;
        overflow-y: auto;

        &::-webkit-scrollbar { width: 0; }
        & { -ms-overflow-style: none; }
        & { overflow: -moz-scrollbars-none; }
    }

    &__slide {
        margin-top: 48px;
        width: 600px;
        height: 432px;

        &-content {

        }

        &-post {
            font-size: 18px;
            font-family: 'serifb', sans-serif;
            font-weight: bold;
            line-height: 24px;
            color: @yellow;
            margin-bottom: 8px;
        }

        &-name {
            margin: 0;
            padding: 0;
            font-size: 32px;
            font-family: 'serifb', sans-serif;
            font-weight: bold;
            line-height: 38px;
            color: @black;
            margin-bottom: 8px; 
        }

        &-skill, &-education {
            font-size: 22px;
            font-family: 'serifb', sans-serif;
            line-height: 31px;
            color: @black;
            margin-bottom: 8px;

            &-content {
                margin: 0;
                margin-bottom: 24px;
                font-size: 18px;
                font-family: 'lator', sans-serif;
                color: @black;
                line-height: 24px;
            }

        }

    }

    .block_white {
        position: relative;
        display: flex;
        justify-content: flex-end;
        background: @white;

        &:before {
            bottom: -40px;
            left: 0;
            position: absolute;
            content: '';
            width: 95%;
            height: 40px;
            background: @white;
            opacity: 0.1;
        }

    }

    .block_transparent {
        background: 0;
    }

}

// specialists

@media screen and (max-width: @tablet) {

    .specialists {
        height: auto;

        &__photo {
            display: none !important;
        }

        &__slide, &__slide-content {
            height: auto;
        }

        &__slide-name {
            font-size: 22px;
            line-height: 28px;
        }

        &__space-top {
            display: none;
        }

        &__container {
            flex-direction: column;
            height: auto;

            &:nth-child(1) {
                width: 100%;
                height: 120px;
            }
        }

        &__box {
            height: auto;
            padding: 0;
        }

        &__title {
            width: 80%;
            margin: 30px auto;
            font-size: 22px;
            line-height: 28px;
        }

        &__slide {
            width: 90%;
            margin: 30px 5%;
        }

        &__list {
            position: relative;
            margin: 0;
            padding: 0 5%;
            width: 100%;
            height: 100px;
            z-index: 10;
            margin-top: 0;
            box-sizing: border-box;
            bottom: 0px;
            display: flex;
            justify-content: center;
            list-style: none;
    
            &-item {
                margin-right: 24px;
                position: relative;
                width: 45px;
                height: 45px;
                border-radius: 50%;
    
                &:last-child {
                    margin-right: 0;
                }
    
            }
    
            &-link {
                top: 0;
                display: flex;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 5px solid transparent;
                background: url('../img/specialist-link.png') repeat-x 0px 100px;
                z-index: 112;
                opacity: 1;
                display: flex;
                align-items: flex-end;
                text-decoration: none;
    
                &:hover, &_active {
                    border-color: @yellow;
                    text-decoration: none;
                }
    
            }
    
            &-photo {
                top: 0;
                position: absolute;
                z-index: -1;
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
    
            &-box {
                margin: 0 0 0 0;
                display: none;
                flex-direction: column;
                height: auto;
            }
    
            &-surname, &-name {
                margin: 0 15px;
                padding: 0;
                display: block;
                width: 100%;
                font-size: 14px;
                font-family: 'latob', sans-serif;
                color: @white;
                line-height: 18px;
                text-decoration: none;
            }
    
            &-name {
                margin-bottom: 4px;
            }
    
            &-post {
                margin: 0 5px 11px 15px;
                font-size: 14px;
                font-family: 'lator', sans-serif;
                color: @yellow;
                line-height: 18px; 
            }
    
        }

    }

}