// variables

// colors

@white: #fff;
@black: #161616;
@black-dark: #222;
@orange: #F47821;
@grey: #797979;
@grey-dark: #3d3d3d;
@brown: #2f1b15;
@brown-dark: #231f20;


@yellow: #BE9D6A;
@blue-dark: #1c1c40;

@blue: #1f5f97;


// sizes page

@desktop: 1300px;
@tablet: 760px;
@mobile: 380px;

// icons

@icon-plus: "\e900";
@icon-purse: "\e901";