mixin main(data)
    - data = data || {};
    section.main(class = data.class role = data.role)
        .main__grd
        .container.main__container
            h1.main__title.wow.fadeIn!=data.title
            p.main__description.wow.fadeIn!=data.description