include ../blocks/head/head
include ../blocks/header/header
include ../blocks/main/main
include ../blocks/team/team
include ../blocks/sign-up/sign-up
include ../blocks/specialists/specialists
include ../blocks/cases/cases
include ../blocks/skill/skill
include ../blocks/plan/plan
include ../blocks/situations/situations
include ../blocks/contacts/contacts
include ../blocks/footer/footer
//include ../blocks/popups/popups

doctype html
html(lang='ru')
  +head({
    title: 'СЕРЬЕЗНЫЕ ЛЮДИ - БЮРО ПРАВОВОЙ ЭКСПЕРТИЗЫ',
    keywords: '',
    description: ''
  })
  body
    // header
    +header({
      role: 'header',
      link: '#',
      class: 'header_fixed',
      title: 'Оформление земельно-имущественных отношений в Москве и Московской области.',
      src: '../img/logo.png',
      alt: '@@',
      desc: 'Оформление земельно-имущественных отношений в Москве и Московской области.',
      keys: 'Анализ. Сопровождение. Результат.',
      phonenumber: '8 800 444 33 48',
      tel: 'tel:88004443348'
    })

    // main
    +main({
      role: 'main',
      class: 'contianer__main',
      title: 'Оформим документы на землю и недвижимость, поможем решить Ваши задачи в государственных органах, даже если Вам уже отказали',
      description: 'ГАРАНТИЯ РЕЗУЛЬТАТА ЗАКРЕПЛЕНА В ДОГОВОРЕ'
    })

    // team
    +team({
      role: 'team',
      title: 'Наша команда имеет огромный опыт в сфере оформления недвижимости',
      items: [
        {title: '10 000+ часов', description: 'судебной практики по делам в сфере земельно-имущественных отношений'},
        {title: 'Пять юристов высокого класса', description: 'с опытом работы в государственных структурах'},
        {title: '21 год опыта', description: 'в сфере земельно-имущественных отношений '}
      ],
      photo: '../img/team.png',
      alt: '@@'
    })

    // sign-up
    +sign-up({
      role: 'sign up',
      title: 'Запишитесь на консультацию',
      phone: '8 800 444 33 48',
      tel: 'tel:88004443348'
    })

    // specialists
    +specialists({
      role: 'specialists',
      title: 'Ваши интересы будут защищать:',
      itemsList: [
        {
          class: 'specialistOne specialists__list-link_active',
          photo: '../img/specialists/1-1.png', 
          surname: 'Несунц', 
          name: 'Артак Арменович', 
          post: 'Основатель руководитель'
        },
        {
          class: 'specialistTwo',
          photo: '../img/specialists/2-1.png', 
          surname: 'Азизбекян',
          name: 'Инна Арменовна', 
          post: 'Руководитель правовой службы'
        },
        {
          class: 'specialistThree',
          photo: '../img/specialists/3-1.png', 
          surname: 'Погребная',
          name: 'Ирина Владимировна', 
          post: 'Руководитель управления правового обеспечения в сфере защиты имущественных прав'
        },
        {
          class: 'specialistFour',
          photo: '../img/specialists/4-1.png', 
          surname: 'Киндинов',
          name: 'Илья Сергеевич', 
          post: 'Руководитель службы оформления земельно-имущественных отношений'
        },
        {
          class: 'specialistFive',
          photo: '../img/specialists/5-1.png', 
          surname: 'Астабацян',
          name: 'Арусяк Арменовна', 
          post: 'Руководитель проектов'
        }
      ],
      itemsSpec: [
        {
          class: 'specialistContentOne',
          post: 'Основной руководитель', 
          name: 'Несунц Артак Арменович', 
          skill: '14 лет, из них 12 лет в сфере строительства и эксплуатации объектов недвижимости в должности юриста и генерального директора компаний.',
          education: 'Академия водного транспорта, Факультет: международное право, аспирантура. Московская государственная юридическая академия. Факультет: правоведение',
          about: 'Приобретенные навыки и коммуникабельность, опыт взаимодействия с административными органами управления  способствуют успешному продвижению  проектов строительства торговых, складских и иных объектов. Артак Арменович успешно выполняет обязанности по разработке, согласованию и утверждению технических условий, предпроекной и проектной документации (от ГПЗУ до ввода в эксплуатацию и государственной регистрации прав), передаче объекта и инженерных коммуникаций эксплуатирующим организациям, оформлению имущественных прав, оформлению технической документации на объекты недвижимости (ФГУП Ростехинвентаризация, ГУП МосгорБТИ, ГУП Мосгоргеотрест), на инженерные сети, коммуникации, обеспечивает оформление формирования (образования) земельных участков, прав аренды и/или собственности на земельные участки, всесторонне подготовлен к решению вопросов относительно объектов культурного наследия города Москвы.'
        },
        {
          class: 'specialistContentTwo',
          post: 'Руководитель правовой службы', 
          name: 'Азизбекян Инна Арменовна', 
          skill: '21 год, из них 17 лет в сфере оформления земельно-правовых отношений, строительства и эксплуатации объектов недвижимости в должности начальника юридического отдела организаций. ',
          education: 'Российская академия правосудия, 2012, г.Москва, аспирант кафедры земельного и экологического права, преподаватель Финансовая Академия при Правительстве РФ, 2005, г.Москва, Факультет Бухучет, анализ, аудит, диплом Московская государственная юридическая академия (МГЮА), 2002, г.Москва, Факультет правоведение, диплом',
          about: 'Высочайший уровень знаний в сфере оформления земельно-правовых отношений строительства и эксплуатации объектов недвижимости, огромный практический юридический опыт, умение совместить юридическое и финансовое видение ситуации, учесть всесторонним образом все риски позволяют Инне Арменовне виртуозно реализовывать сложнейшие проекты в сфере земельно-правовых отношений с детальной индивидуальной проработкой наиболее сложных участков работы. Огромный опыт работы в органе землепользования г.Москвы позволяет Инне Арменовне с рекордной долей вероятности прогнозировать решения государственных органов, выявлять риски и вырабатывать меры по их минимизации.'
        },
        {
          class: 'specialistContentThree',
          post: 'Руководитель управления правового обеспечения', 
          name: 'Погребная Ирина Владимировна', 
          skill: 'Общий стаж работы по профессии более 19 лет, из них более 10 лет возглавляла юридические службы крупных инвестиционно-строительных компаний.',
          education: 'Российский государственный социальный университет, 2000г., г. Москва. Факультет: Юридический. Диплом с отличием.  Московский Государственный Университет им. Ломоносова , 2004г., г. Москва. Факультет: Психологический. Диплом с отличием.  ',
          about: 'Отличное знание земельного и градостроительного законодательства, опыт практической работы в строительстве и государственном органе по землепользованию в г. Москве, большая судебная и арбитражная практика позволяют Ирине Владимировне успешно осуществлять юридическое сопровождение инвестиционно-строительной деятельности на всех этапах, юридическое сопровождение работ по реконструкции, капитальному ремонту, перепланировке помещений, переоборудованию помещений, юридическое сопровождение сделок с недвижимым имуществом: нежилыми зданиями, сооружениями, помещениями, объектами незавершенного строительства, с земельными участками, юридическое сопровождение хозяйственной деятельности предприятий,  взаимодействие с государственными органами (Префектуры г. Москвы, ДЗР г. Москвы, ДГИ г. Москвы и т.д.); ведение претензионной и исковой работы, представление интересов организации в судах (арбитражных и общей юрисдикции), Федеральной антимонопольной службе и других по вышеуказанным вопросам.'
        },
        {
          class: 'specialistContentFour',
          post: 'Руководитель службы оформления', 
          name: 'Киндинов Илья Сергеевич', 
          skill: '8 лет в сфере оформления земельно-правовых отношений, строительства и эксплуатации объектов недвижимости организаций, сбор и анализ документов для последующей подготовки объектов недвижимости и земельных участков к торгам, подготовка и выпуск распорядительных документов Правительства Москвы, из них более 3 лет занимал должность начальника отдела по работе с объектами культурного наследия Управления подготовки торгов Департамента городского имущества города Москвы и более 4 лет занимал должность заведующего сектором подготовки конкурсной документации и торгов Управления регулирования землепользования в Южном административном округе города Москвы. ',
          education: ' «Институт международного права и экономики имени А.С. Грибоедова» 2007г.г. Москва Факультет «Финансы и кредит»  «Московский городской  университет управления Правительства Москвы» 2009г.    повышение квалификации по программе «Имущественные и земельные отношения в городе Москве и направления их совершенствования» «Московский городской университет управления Правительства Москвы» 2010г. повышение квалификации по программе  «Комплексное градостроительное освоение подземного пространства города Москвы: проблемы и пути их решения» «Московский городской университет управления Правительства Москвы» 2013г.    повышение квалификации по программе  «Государственная программа города Москвы  «Градостроительная политика» - задачи, механизмы реализации» Федеральное государственное бюджетное образовательное учреждение высшего профессионального образования «Российская академия народного хозяйства и государственной службы при Президенте Российской Федерации» г. Москва 2014г.    Факультет «Юриспруденция». ',
          about: 'Высокий уровень знаний в области земельно-имущественных отношений и конкурсных процедур в сочетании с нестандартным оригинальным мышлением, отличными коммуникативными навыками позволяет Илье Сергеевичу проектировать и воплощать в жизнь оригинальные решения, позволяющие нашим клиентам реализовывать самые смелые планы, находить выход из самых, казалось бы, тупиковых ситуаций (отказы государственных органов в оформлении земельно-правовых отношений, выпуске распорядительных документов Правительства Москвы и т.п.)'
        },
        {
          class: 'specialistContentFive',
          post: 'Руководитель проектов', 
          name: 'Астабацян Арусяк Арменовна', 
          skill: 'Более 10 лет в сфере эксплуатации и реализации недвижимости в должности руководителя среднего звена. Высокие коммуникативные навыки и прекрасное знание теории и практики продаж, в том числе в сфере недвижимости позволяют Арусяк Арменовне участвовать в разработке схем и планов перспективного развития в контексте земельно-имущественных отношений, позволяющих предусмотреть наиболее рентабельные способы использования земли и объектов недвижимости.',
          education: 'Российский государственный гуманитарный университет, 2017г., Москва Факультет Управления, Московская академия образования Натальи Нестеровой (Университет Натальи Нестеровой, Новый гуманитарный университет Натальи Нестеровой), 2005г., Москва Факультет Журналистики'
        }
      ]
    })

    // cases
    +cases({
      role: 'cases',
      title: 'Посмотрите, как мы уже решали похожие ситуации',
      items: [
        {class: 'linkSlideOne slider-nav__link_active', title: 'Кейс 1', image: '../img/cases/case-1.png', description: 'Сэкономили 66 млн. рублей в год расходов по арендной плате для московского завода'},
        {class: 'linkSlideTwo', title: 'Кейс 2', image: '../img/cases/case-2.png', description: 'Реализовали проект строительства жилого здания в историческом центре Москвы нестандартным способом с экономией времени в 3 года'},
        {class: 'linkSlideThree', title: 'Кейс 3', image: '../img/cases/case-3.png', description: 'Легализовали самострой без больших штрафов в кратчайшие сроки'},
        {class: 'linkSlideFour', title: 'Кейс 4', image: '../img/cases/case-4.png', description: 'Заключен договор купли-продажи земельного участка после получения отказа'}
      ],
      itemsSlides: [
        {
          class: 'slideOne', 
          name: 'Кейс 1', 
          title: 'Сэкономили 66 млн. рублей в год расходов по арендной плате для московского завода.', 
          task: 'снизить размер арендной платы за земельный участок.', 
          introductory: 'К нам обратился клиент (промышленное предприятие г.Москвы), с просьбой проверить правильность начисления арендной платы за земельный участок, оформленный на данное предприятие, и, по возможности, снизить ее.', 
          decision: 'Мы провели всесторонний анализ ситуации и выявили, что из 25 зданий, расположенных на земельном участке, 24 имеют производственное назначение, а одно крошечное здание имеет торгово-административное назначение, что и влечет большое увеличение арендной платы.', 
          decisionMore: 'Выделив земельный участок под торгово-административное здание в отдельный и оформив на него договор аренды земельного участка, мы снизили арендную плату по основному большому земельному участку на 66 млн. рублей в год.'
        },
        {
          class: 'slideTwo',
          name: 'Кейс 2', 
          title: 'Реализовали проект строительства жилого здания в историческом центре Москвы нестандартным способом с экономией времени в 3 года', 
          task: 'Реализовать проект строительства жилого здания в историческом центре Москвы.', 
          introductory: 'К нам обратился клиент, собственник шестиэтажного офисно-административного здания в ЦАО г.Москвы, являющегося объектом культурного наследия города Москвы (ОКН).Клиент хотел вывести объект из Реестра ОКН, снести здание и построить новое жилое здание в габаритах снесенного.', 
          decision: 'Мы предложили клиенту нестандартную схему решения задачи: не производить снос здания, оставить его в Реестре ОКН, изменить вид разрешенного использования здания, перевести здание из административного в жилое назначение, провести реставрацию здания и ввести его в эксплуатацию как жилое здание. Мы реализовали проект, обеспечив выполнение всех указанных этапов решения задачи. Всего лишь за 2 года клиент получил потрясающее красивое жилое здание в историческом центре Москвы, сэкономив десятки миллионов рублей, минимум 3 года времени на реализацию проекта.', 
          decisionMore: '«Вишенкой на торте» был наш подарок клиенту: мы оформили некапитальную мансарду, которая была расположена на крыше административного здания, и клиент получил увеличение полезной площади нового жилого здания.      '},
        {
          class: 'slideThree',
          name: 'Кейс 3', 
          title: 'Легализовали самострой без больших штрафов в кратчайшие сроки', 
          task: 'Сохранить и легализовать самострой «малой кровью»', 
          introductory: 'К нам обратился клиент, промышленное предприятие г.Москвы, с просьбой легализовать самострой в виде небольшого здания площадью 250 кв.м. на территории завода в 2,5 га. Клиент не мог использовать данное здание в связи с угрозой его сноса по требованию государственных органов.', 
          decision: 'Мы выделили земельный участок под самострой в отдельный, что позволило клиенту заплатить штраф в десятки раз меньше первоначально рассчитанного. А также мы оформили право собственности на данное здание через процедуру легализации, обеспечив получение положительного решения ГЗК о возможности сохранения объекта. Грамотное взаимодействие со всеми государственными органами в процессе легализации объекта позволило нам обеспечить своевременный отказ от иска Департаментом городского имущества города Москвы по делу о сносе здания-самостроя.', 
          decisionMore: 'Уже через год у Клиента на руках был комплект земельно-имущественных документов на здание и полное спокойствие относительно судьбы здания, что сделало возможным коммерческое использование здания и извлечение из него прибыли.'},
        {
          class: 'slideFour',
          name: 'Кейс 4', 
          title: 'Заключен договор купли-продажи земельного участка после получения отказа', 
          task: 'Заключить договор купли-продажи земельного участка после получения отказа Департамента городского имущества города Москвы', 
          introductory: 'К нам обратилась компания - собственник здания, расположенного в городе Москве, с просьбой оценить законность и обоснованность отказа Департамента в заключении с ней договора купли-продажи земельного участка, предназначенного для эксплуатации здания, а также при наличии оснований заключить данный договор. Компания неоднократно обращалась в Департамент с заявлением о выкупе данного земельного участка, однако каждый раз получала отказ в связи с тем, что по данным Департамента  габариты здания выходят за пределы земельного участка, якобы, в связи с незаконно проведенной реконструкцией здания, что исключало возможность продажи земельного участка. Доказать Департаменту отсутствие фактов реконструкции и изменения габаритов здания компании не удавалось. ', 
          decision: 'Нами были проанализированы ситуация, документы собственника и установлено, что собственником была произведена перепланировка в здании, что никак не повлияло на габариты здания и, следовательно, отказ был незаконным.',
          decisionMore: 'Мы разработали целый комплекс действий: собрали все необходимые доказательства отсутствия факта реконструкции здания, привлекли кадастрового инженера для уточнения границ земельного участка и экспертную организацию для проведения строительно-технической экспертизы для квалифицированного обоснования отнесения произведенных в здании работ к перепланировке, подготовили мотивированное, в том числе и документально,  со ссылками на действующее законодательство обращение в Департамент и повторно подали документы.',
          total: 'В результате успешного ведения дела в этот раз наш клиент выкупил желаемый земельный участок без лишних административных проволочек и помех. Дополнительно для удобства клиента нами была «узаконена» произведенная им перепланировка в здании.'  
        }
      ]
    })

    // skill
    +skill({
      role: 'skill',
      title: 'У нас большой опыт работы с государственными органами',
      description: 'Это позволяет прогнозировать выводы, решения государственных структур и предотвращать отрицательный результат.',
      subtitle: 'Мы работаем со всеми структурами Правительства Москвы, регулирующими сферу строительства и недвижимости',
      companies: [
        {icon: '../img/icons/icon-6.png', title: 'ДГИ', description: 'Департамент городского имущества города Москвы'},
        {icon: '../img/icons/icon-7.png', title: 'МОСКОМАРХИТЕКТУРА', description: 'Комитет по архитектуре и градостроительству города Москвы'},
        {icon: '../img/icons/icon-8.png', title: 'РОСРЕЕСТР', description: 'Федеральная служба государственной регистрации, кадастра и картографии'},
        {icon: '../img/icons/icon-9.png', title: 'Государственная инспекция', description: 'по контролю за использованием объектов недвижимости города Москвы'},
        {icon: '../img/icons/icon-10.png', title: 'ГЗК', description: 'Градостроительно-земельная комиссия города Москвы'},
        {icon: '../img/icons/icon-7.png', title: 'МОСГОРНАСЛЕДИЕ', description: 'Департамент культурного наследия города Москвы'}
      ],
      midCompanies: [
        {icon: '../img/icons/icon-11.png', title: 'БТИ', description: 'Московское городское Бюро технической инвентаризации'},
        {icon: '../img/icons/icon-11.png', title: 'ТЕНДЕРНЫЙ КОМИТЕТ', description: 'Департамент города Москвы по конкурентной политике'},
        {icon: '../img/icons/icon-11.png', title: 'РОСПОТРЕБНАДЗОР', description: 'Федеральная служба по надзору в сфере защиты прав потребителей и благополучия человека'},
        {icon: '../img/icons/icon-11.png', title: 'ЖИЛИНСПЕКЦИЯ', description: 'Государственная жилищная инспекция города Москвы'}
      ],
      lowCompanies: [
        {icon: '../img/icons/icon-11.png', description: 'Департамент развития новых территорий города Москвы'},
        {icon: '../img/icons/icon-11.png', description: 'Департамент градостроительной политики города Москвы'},
        {icon: '../img/icons/icon-11.png', description: 'Департамент инвестиционной и промышленной политики города Москвы'},
        {icon: '../img/icons/icon-11.png', description: 'Префектуры и управы административных округов города Москвы'}
      ]
    })

    // plan
    +plan({
      role: 'plan',
      title: 'Если Вы уже столкнулись с судебными разбирательствами',
      description: 'Мы проанализируем ситуацию, изучим судебную практику и подготовим план дальнейших действий',
      items: [
        {icon: '../img/icons/icon-2.png', title: 'Хотите защитить свои права в суде?', description: 'Изучим судебную практику по Вашему случаю, составим иск в суд и представим Ваши интересы'},
        {icon: '../img/icons/icon-3.png', title: 'Вас привлекли в качестве ответчика?', description: 'Изучим судебную практику и проработаем правовую позицию для защиты прав в суде'},
        {icon: '../img/icons/icon-4.png', title: 'Хотите решить спор без суда?', description: 'Проработаем возможность заключения мирового соглашения и иные варианты решения судебного спора'},
        {icon: '../img/icons/icon-5.png', title: 'Обеспечим выполнение решения суда и получим все документы', description: 'Выполним все необходимые действия для получения Вами документов'}
      ],
      photo: '../img/specialists.png'
    })

    // situations
    +situations({
      role: 'situations',
      title: 'Почему не стоит пытаться разрешить ситуацию самостоятельно или доверять решение вопроса специалистам «широкого» профиля?',
    })

    // sign up
    +sign-up-detail({
      role: 'sign up',
      title: 'Приезжайте к нам в офис и обсудите Ваш вопрос лично с юристом',
      description: 'Вы получите консультацию по Вашей ситуации с ведущим юристом компании и понимание, куда двигаться дальше.',
      phone: '8 800 444 33 48',
      tel: 'tel:88004443348'
    })

    // contacts
    +contacts({
      role: 'contacts',
      phonenumber: '8 800 444 33 48',
      tel: 'tel:88004443348',
      address: 'г. Москва, Подольское ш., 8, к5',
      email: 'hello@seriousman.ru',
      mailto: 'mailto:hello@seriousman.ru'
    })

    // footer
    +footer({
      role: 'footer',
      link: '#',
      title: 'Оформление земельно-имущественных отношений в Москве и Московской области.',
      src: '../img/logo.png',
      alt: '@@',
      desc: 'Оформление земельно-имущественных отношений в Москве и Московской области.',
      keys: 'Анализ. Сопровождение. Результат.',
      phonenumber: '8 800 444 33 48',
      tel: 'tel:88004443348',
      copyright: '© 2012-2019, ООО «Серьезные люди»'
    })

    // scripts
    script(src='../js/jquery-3.2.1.min.js')
    
    script(src='../js/scripts.js')