include ../blocks/head/head
include ../blocks/header/header
include ../blocks/main/main
include ../blocks/team/team
include ../blocks/sign-up/sign-up

doctype html
html(lang='ru')
  +head({
    title: 'СЕРЬЕЗНЫЕ ЛЮДИ - БЮРО ПРАВОВОЙ ЭКСПЕРТИЗЫ',
    keywords: '',
    description: ''
  })
  body

    // header
    +header({
      role: 'header',
      link: '#',
      class: 'header_fixed',
      title: 'Оформление земельно-имущественных отношений в Москве и Московской области.',
      src: '../img/logo.png',
      alt: '@@',
      desc: 'Оформление земельно-имущественных отношений в Москве и Московской области.',
      keys: 'Анализ. Сопровождение. Результат.',
      phonenumber: '8 800 444 33 48',
      tel: 'tel:88004443348'
    })

    // main
    +main({
      role: 'main',
      class: 'contianer__main',
      title: 'Оформим документы на землю и недвижимость, поможем решить Ваши задачи в государственных органах, даже если Вам уже отказали',
      description: 'ГАРАНТИЯ РЕЗУЛЬТАТА ЗАКРЕПЛЕНА В ДОГОВОРЕ'
    })

    // team
    +team({
      role: 'team',
      title: 'Наша команда имеет огромный опыт в сфере оформления недвижимости',
      items: [
        {title: '10 000+ часов', description: 'судебной практики по делам в сфере земельно-имущественных отношений'},
        {title: 'Пять юристов высокого класса', description: 'с опытом работы в государственных структурах'},
        {title: '21 год опыта', description: 'в сфере земельно-имущественных отношений '}
      ],
      photo: '../img/team.png',
      alt: '@@'
    })

    // sign-up
    +sign-up({
      role: 'sign up',
      title: 'Запишитесь на консультацию',
      phone: '8 800 444 33 48',
      tel: '88004443348'
    })

    // specialists
    //+({
      
    //})

    // cases
    //+({
      
    //})

    // skill
    //+({
      
    //})

    // sadasd
    //+({
      
    //})

    // contacts
    //+({
      
    //})

    // footer
    //+({
      
    //})

    // scripts
    script(src='../js/jquery-3.2.1.min.js')
    script(src='../js/scripts.js')