mixin footer(data)
    - data = data || {};
    footer.footer(class = data.class role = data.role)
        .container.footer__container
            a.footer__logo(href = data.link, title = data.title)
                img(src = data.src, alt = data.alt)
            .footer__site-info.wow.fadeIn
                p.header__desc!=data.desc
                span.header__keys!=data.keys
            .footer__call-info
                a.footer__phonenumber(href = data.tel title="")!=data.phonenumber
                a.call-popop.footer__call-popup.linkCall(href="#"  title="") Заказать звонок
        .container.footer__container.footer__container_small
            p.footer__copyright!=data.copyright
            a.footer__polytic.linkPolytic(href="#" title="") Политика обработки персональных данных