a {
  cursor: pointer;
  color: #000;
  font-weight: 400;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
  opacity: 1;
}
a,
a:hover,
.button,
.slider-buttons__button,
input {
  transition: all 0.5s ease-in-out;
}
body {
  margin: 0;
  background: #fff;
  cursor: default;
  overflow-x: hidden;
}
body *::-moz-selection {
  background: #BE9D6A;
  color: #fff;
}
body *::-webkit-selection {
  background: #BE9D6A;
  color: #fff;
}
body *::selection {
  background: #BE9D6A;
  color: #fff;
}
.container {
  margin: 0 auto;
  width: 1276px;
}
.form {
  display: flex;
}
.form__title {
  font-size: 22px;
  font-family: 'lator', sans-serif;
  color: #000;
}
.form__body {
  display: flex;
  flex-direction: row;
}
.form__input[type='text'] {
  padding: 0 22px;
  width: 300px;
  height: 52px;
  border: 2px solid #b2b2b2;
  outline: none;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'lator', sans-serif;
  color: #000;
}
.form__input[type='text']:hover,
.form__input[type='text']:focus {
  border-color: #BE9D6A;
}
.form__input[type='submit'] {
  width: 230px;
  height: 52px;
  background: #BE9D6A;
  font-size: 18px;
  font-family: 'latob', sans-serif;
  font-weight: bold;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.form__input[type='submit']:hover {
  background: #C6AC85;
}
.form__input[type='submit']:focus {
  background: #A38E6D;
}
.form__small-desc {
  margin-top: 8px;
  font-size: 14px;
  font-family: 'lator', sans-serif;
  color: rgba(0, 0, 0, 0.3);
}
.form__small-desc a {
  opacity: 0.3;
}
.form__small-desc a:hover {
  opacity: 1;
}
.block {
  position: relative;
  width: 50%;
}
.block_gray {
  background: #F4F4F6;
}
.block_blue {
  background: #1c1c40;
}
@media screen and (max-width: 1300px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
  .block {
    position: relative;
    width: 100%;
  }
  .form__input[type='submit'] {
    width: 100%;
  }
}
.cases {
  position: relative;
  height: 1062px;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
}
.cases__container {
  position: relative;
}
.cases__block {
  top: -90px;
  position: absolute;
  right: 20px;
  width: 862px;
  height: 1002px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 40px;
}
.cases__title {
  width: 70%;
  margin: 0;
  margin: 14px 0 0 40px;
  padding: 0;
  font-size: 42px;
  font-family: 'serifb', sans-serif;
  color: #000;
}
.cases__slider-buttons {
  position: absolute;
  top: 570px;
  right: -54px;
}
.slider-nav {
  top: 200px;
  left: -280px;
  position: absolute;
  width: 412px;
  list-style: none;
  z-index: 20;
}
.slider-nav__item {
  margin-bottom: 20px;
  width: 412px;
  height: 174px;
}
.slider-nav__link {
  position: absolute;
  width: 402px;
  height: 164px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  text-decoration: none;
  border: 5px solid transparent;
}
.slider-nav__link:hover,
.slider-nav__link_active {
  border-color: #BE9D6A;
}
.slider-nav__link:hover {
  text-decoration: none;
}
.slider-nav__link-title {
  margin: 21px 0 45px 24px;
  font-size: 14px;
  font-family: 'serifb', sans-serif;
  line-height: 24px;
  color: #BE9D6A;
  text-decoration: none;
  text-transform: uppercase;
}
.slider-nav__link-description {
  padding-right: 40px;
  position: absolute;
  bottom: 15px;
  margin-left: 24px;
  font-size: 18px;
  font-family: 'latob', sans-serif;
  color: #fff;
  line-height: 24px;
  text-decoration: none;
}
.slides-body {
  position: relative;
}
.slides-body__space-bottom {
  bottom: 0px;
  width: 100%;
  position: absolute;
  height: 60px;
  background: url('../img/gradient4.png') repeat-x center bottom;
  z-index: 10;
}
.slides {
  position: relative;
  margin: 60px 0 0 180px;
  width: 660px;
  height: 760px;
  list-style: none;
  padding: 0;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.slides::-webkit-scrollbar {
  width: 0;
}
.slides__title {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  font-size: 22px;
  font-family: 'serifb';
  font-weight: bold;
  line-height: 31px;
  color: #000;
}
.slides__desc {
  margin-bottom: 29px;
  font-size: 18px;
  font-family: 'lator', sans-serif;
  line-height: 24px;
  color: #000;
}
.slides__name {
  margin-bottom: 4px;
  font-size: 14px;
  font-family: 'serifb', sans-serif;
  color: #BE9D6A;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}
.slides__main-title {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-family: 'serifb', sans-serif;
  line-height: 38px;
  color: #000;
  margin-bottom: 20px;
}
.slider-buttons {
  width: 108px;
  height: 54px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
}
.slider-buttons__prev {
  background: #1c1c40;
}
.slider-buttons__prev img {
  transform: rotate(180deg);
  width: 20px;
  height: auto;
}
.slider-buttons__prev:hover {
  background: #C6AC85;
}
.slider-buttons__next {
  background: #BE9D6A;
}
.slider-buttons__next img {
  width: 20px;
  height: auto;
}
.slider-buttons__next:hover {
  background: #C6AC85;
}
.slider-buttons__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  .cases {
    height: auto;
  }
  .cases__slider-buttons {
    position: relative;
    top: 0;
    right: 0;
    margin: 20px 0;
  }
  .cases__title {
    font-size: 22px;
    line-height: 28px;
    width: 100%;
    margin: 0;
  }
  .cases__block {
    top: 20px;
    right: 0;
    padding: 10%;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto;
  }
  .slider-nav {
    display: none;
  }
  .slides {
    margin: 0;
    width: 100%;
    height: auto;
  }
  .slides__item {
    width: 100%;
    box-sizing: border-box;
  }
  .slides__main-title {
    width: 100%;
    box-sizing: border-box;
    font-size: 22px;
    line-height: 28px;
  }
}
.contacts {
  position: relative;
}
.contacts .card {
  top: 80px;
  position: absolute;
}
.card {
  padding: 50px;
  width: 520px;
  height: auto;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: #000;
  font-family: 'serifb', sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
}
.card__body {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.card__item {
  margin-bottom: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card__item-title {
  width: 40%;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'serifb', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 31px;
  display: block;
}
.card__item-phone {
  text-decoration: none;
  font-weight: bold;
}
.card__item-phone:hover {
  color: #BE9D6A;
  text-decoration: none;
}
.card__item-email:hover {
  color: #BE9D6A;
}
.card__item-desc {
  font-size: 16px;
  font-family: 'lator', sans-serif;
  color: #000;
}
@media screen and (max-width: 1300px) {
  .card {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .card__title {
    font-size: 22px;
    line-height: 28px;
    text-align: left;
  }
  .card__item {
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
  }
  .card__item-title {
    width: 100%;
    font-size: 18px;
  }
  .contacts {
    position: relative;
  }
  .contacts .card {
    margin-bottom: 20px;
    top: 0px;
    position: relative;
  }
}
.footer {
  height: 258px;
  background: #1c1c40;
  overflow: hidden;
}
.footer__container {
  margin-top: 53px;
  display: flex;
  flex-direction: row;
}
.footer__container_small {
  margin-top: 51px;
  height: 22px;
  align-items: center;
}
.footer__logo {
  margin-right: 52px;
  width: 272px;
  height: 72px;
}
.footer__site-info {
  flex-grow: 1;
}
.footer__desc {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 11px;
  padding: 0;
  width: 374px;
  font-size: 18px;
  line-height: 24px;
  font-family: 'lator', sans-serif;
  color: #fff;
}
.footer__keys {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-family: 'serifb';
  color: #BE9D6A;
}
.footer__phonenumber {
  margin: -4px 0 8px 0;
  width: 100%;
  height: auto;
  display: block;
  font-size: 32px;
  font-family: 'serifb', sans-serif;
  font-weight: bold;
  color: #fff;
  line-height: 38px;
  text-decoration: none;
  text-align: right;
}
.footer__phonenumber:hover {
  color: #BE9D6A;
  text-decoration: none;
}
.footer__call-popup {
  margin-top: 4px;
  width: 230px;
  height: 48px;
  border: 2px solid #BE9D6A;
  background: 0;
  font-size: 18px;
  font-family: 'latob', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  line-height: 44px;
}
.footer__call-popup:hover {
  text-decoration: none;
  background: #BE9D6A;
}
.footer__call-info {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.footer__copyright {
  flex-grow: 1;
  font-size: 14px;
  line-height: 24px;
  font-family: 'lator', sans-serif;
  color: #fff;
  opacity: 0.5;
}
.footer__polytic {
  font-size: 14px;
  line-height: 24px;
  font-family: 'lator', sans-serif;
  color: #fff;
  opacity: 0.5;
  text-decoration: underline;
}
.footer__polytic:hover {
  opacity: 1;
}
@media screen and (max-width: 1300px) {
  .footer {
    height: auto;
  }
  .footer__container {
    margin: 20px 5%;
    flex-direction: column;
  }
  .footer__container_small {
    margin: 20px 5%;
    height: auto;
  }
  .footer__logo {
    margin-bottom: 10px;
    width: 50%;
    height: auto;
  }
  .footer__logo img {
    width: 180px;
    height: auto;
  }
  .footer__site-info {
    margin-bottom: 10px;
  }
  .footer__desc {
    width: 100%;
  }
}
.header {
  height: 72px;
}
.header_fixed {
  margin-top: 53px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.header__container {
  display: flex;
  flex-direction: row;
}
.header__logo {
  margin-right: 52px;
  width: 272px;
  height: 72px;
}
.header__site-info {
  flex-grow: 1;
}
.header__desc {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 11px;
  padding: 0;
  width: 374px;
  font-size: 18px;
  line-height: 24px;
  font-family: 'lator', sans-serif;
  color: #fff;
}
.header__keys {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-family: 'serifb';
  color: #BE9D6A;
}
.header__phonenumber {
  margin: 4px 0 0 0;
  width: 100%;
  height: auto;
  display: block;
  font-size: 32px;
  font-family: 'serifb', sans-serif;
  font-weight: bold;
  color: #fff;
  line-height: 38px;
  text-decoration: none;
  text-align: right;
}
.header__phonenumber:hover {
  color: #BE9D6A;
  text-decoration: none;
}
.header__call-popup {
  margin-top: 4px;
  width: 100%;
  text-align: right;
  font-size: 18px;
  font-family: 'lator', sans-serif;
  text-decoration: underline;
  color: #BE9D6A;
  opacity: 0.7;
}
.header__call-popup:hover {
  opacity: 1;
}
.header__call-info {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: right;
}
@media screen and (max-width: 1300px) {
  .header {
    margin: 20px 0 100px 0;
    height: auto;
  }
  .header__container {
    flex-direction: column;
  }
  .header__logo {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0px;
  }
  .header__logo img {
    width: 60%;
    height: auto;
  }
  .header__call-popup,
  .header__phonenumber {
    text-align: left;
  }
  .header__phonenumber {
    margin-top: 20px;
    font-size: 22px;
  }
  .header__call-popup {
    font-size: 16px;
  }
  .header__desc {
    margin-top: -10px;
    width: 100%;
    font-size: 16px;
  }
}
.main {
  position: relative;
  height: 900px;
  overflow: hidden;
  background: #1c1c40 url('../img/main-background.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
}
.main__title {
  margin: 0;
  margin-top: 340px;
  padding: 0;
  color: #fff;
  font-size: 52px;
  font-family: 'serifr', sans-serif;
  line-height: 62px;
}
.main__description {
  margin-top: 10px;
  font-size: 28px;
  font-family: 'lator', sans-serif;
  line-height: 24px;
  color: #BE9D6A;
  text-transform: uppercase;
}
.main__grd {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 262px;
  background: url('../img/main-grd.png') repeat-x;
}
@media screen and (max-width: 1300px) {
  .main {
    padding-bottom: 60px;
    height: auto;
    text-align: left;
  }
  .main__title {
    margin-top: 400px;
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
  }
  .main__description {
    font-size: 20px;
    width: 75%;
  }
  .main__grd {
    margin-top: 140px;
    height: 100px;
    background: url('../img/main-grd.png') repeat-x bottom;
  }
}
.popup {
  position: relative;
  max-width: 320px;
  padding: 40px;
  background: #fff;
  border-radius: 0;
  border: 4px solid #BE9D6A;
  display: flex;
  flex-direction: column;
}
.popup_long {
  max-width: 660px;
  height: 500px;
  overflow: auto;
}
.popup__title {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 32px;
  font-family: 'serifb', sans-serif;
  color: #000;
}
.popup__close {
  top: 20px;
  right: 20px;
  position: absolute;
  display: block;
}
.popup__close:hover {
  transform: rotate(360deg);
}
.popup__icon {
  width: 22px;
  height: 22px;
}
.popup__content {
  font-size: 16px;
  font-family: 'lator', sans-serif;
  line-height: 20px;
  color: #000;
}
.popup__form {
  flex-direction: column;
  justify-content: center;
}
.popup__form input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.popup__form input:last-child {
  margin-bottom: 0;
}
.popup__form .form__input {
  width: 100%;
}
.plan {
  display: flex;
  flex-direction: column;
  height: auto;
  background: url('../img/blan-background.png') repeat-x center;
}
.plan__container {
  width: 100%;
  height: 520px;
  display: flex;
  flex-direction: row;
}
.plan__container:nth-child(1) {
  width: 1246px;
  height: auto;
  flex-direction: column;
}
.plan__specialists {
  position: absolute;
  left: -22px;
}
.plan__title-full {
  margin: 0;
  margin-top: 80px;
  padding: 0;
  font-size: 42px;
  font-family: 'serifb', sans-serif;
  line-height: 50px;
  color: #fff;
}
.plan__description {
  margin-top: 8px;
  margin-bottom: 60px;
  font-size: 22px;
  font-family: 'lator', sans-serif;
  color: #fff;
  opacity: 0.8;
  line-height: 30px;
}
.plan .block_white {
  display: flex;
  justify-content: flex-end;
  background: #fff;
}
.plan .block_transparent {
  background: 0;
}
.plan__list {
  width: 620px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
.plan__list-item {
  margin-bottom: 23px;
  padding: 0;
  list-style: none;
  color: #000;
  display: flex;
  flex-direction: row;
}
.plan__list-icon {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan__list-icon img {
  margin: auto;
  width: auto;
  height: auto;
}
.plan__list-body {
  width: auto;
  width: 80%;
}
.plan__list-title {
  margin: 0;
  padding: 0;
  margin-top: -6px;
  font-size: 22px;
  font-family: 'serifb';
  font-weight: bold;
  line-height: 31px;
  margin-bottom: 4px;
}
.plan__list-desc {
  font-size: 18px;
  font-family: 'lator';
  line-height: 24px;
}
@media screen and (max-width: 1300px) {
  .plan {
    display: flex;
    flex-direction: column;
    height: auto;
    background: 0;
  }
  .plan__title-full {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    color: #000;
    font-size: 22px;
    line-height: 28px;
  }
  .plan__description {
    color: #000;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
  }
  .plan__list {
    width: 100%;
  }
  .plan__list-item {
    margin-bottom: 23px;
    padding: 0;
    list-style: none;
    color: #000;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .plan__list-body {
    width: 100%;
  }
  .plan__list-icon {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .plan__specialists {
    display: none;
  }
  .plan__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .plan__container:nth-child(1) {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
.sign-up {
  padding: 60px 0;
  background: #fff;
}
.sign-up__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 42px;
  font-family: 'serifr', sans-serif;
  color: #000;
  line-height: 50px;
}
.sign-up__form {
  margin-top: -4px;
}
.sign-up__body {
  margin: 0 auto;
  margin-top: 40px;
  width: 980px;
  display: flex;
  flex-direction: row;
}
.sign-up__phonenumber,
.sign-up__form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.sign-up__phonenumber-title {
  margin-left: 36px;
  margin-bottom: 13px;
  font-size: 22px;
  font-family: 'lator', sans-serif;
  color: #000;
}
.sign-up__phonenumber-call {
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 42px;
  font-family: 'serifb';
  font-weight: bold;
  line-height: 50px;
  color: #000;
  text-decoration: none;
}
.sign-up__phonenumber-call:hover {
  text-decoration: none;
  color: #BE9D6A;
}
.sign-up_phonenumber-icon {
  display: block;
  width: 24px;
  height: 24px;
}
.sign-up .sign-up__phonenumber-space {
  display: block;
  width: 12px;
  height: 55px;
}
.sign-up-detail {
  padding: 60px 0;
  background: #fff;
}
.sign-up-detail__container {
  display: flex;
  flex-direction: row;
}
.sign-up-detail__column {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.sign-up-detail__title {
  width: 80%;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  font-size: 42px;
  font-family: 'serifr', sans-serif;
  color: #000;
  line-height: 50px;
}
.sign-up-detail__block {
  margin-bottom: 40px;
  padding: 0px 0 2px 20px;
  border-left: 4px solid #BE9D6A;
}
.sign-up-detail__block:last-child {
  margin-bottom: 0;
}
.sign-up-detail__block-title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-size: 22px;
  font-family: 'lator', sans-serif;
  line-height: 30px;
  color: #000;
}
.sign-up-detail__block-phone {
  font-size: 32px;
  font-weight: bold;
  font-family: 'serifb', sans-serif;
  color: #000;
  line-height: 38px;
  text-decoration: none;
}
.sign-up-detail__block-phone:hover {
  color: #BE9D6A;
  text-decoration: none;
}
.sign-up-detail__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  font-size: 32px;
  font-family: 'serifb';
  font-weight: bold;
}
.sign-up-detail__desc {
  width: 70%;
  font-size: 22px;
  font-family: 'lator', sans-serif;
  color: #000;
  line-height: 30px;
}
.sign-up-detail__form {
  margin-top: -4px;
  width: 100% !important;
}
.sign-up-detail__form .form__title {
  padding: 0;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 16px;
}
.sign-up-detail__body {
  margin: 0 auto;
  margin-top: 40px;
  width: 980px;
  display: flex;
  flex-direction: row;
}
.sign-up-detail__phonenumber,
.sign-up-detail__form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.sign-up-detail__phonenumber-title {
  margin-left: 36px;
  margin-bottom: 13px;
  font-size: 22px;
  font-family: 'lator', sans-serif;
  color: #000;
}
.sign-up-detail__phonenumber-call {
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 42px;
  font-family: 'serifb';
  font-weight: bold;
  line-height: 50px;
  color: #000;
  text-decoration: none;
}
.sign-up-detail__phonenumber-call:hover {
  text-decoration: none;
  color: #BE9D6A;
}
.sign-up-detail_phonenumber-icon {
  display: block;
  width: 24px;
  height: 24px;
}
.sign-up-detail .sign-up__phonenumber-space {
  display: block;
  width: 12px;
  height: 55px;
}
@media screen and (max-width: 1300px) {
  .sign-up {
    padding: 30px 0;
  }
  .sign-up__title {
    font-size: 24px;
    line-height: 32px;
  }
  .sign-up__body {
    width: 80%;
    flex-direction: column;
  }
  .sign-up__phonenumber,
  .sign-up__form {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .sign-up__phonenumber-title,
  .sign-up__form-title {
    margin: 0;
  }
  .sign-up .sign-up__phonenumber-call {
    font-size: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .form {
    display: flex;
  }
  .form__title {
    font-size: 22px;
    font-family: 'lator', sans-serif;
    color: #000;
  }
  .form__body {
    display: flex;
    flex-direction: column;
  }
  .form__input[type='text'] {
    padding: 0 22px;
    width: 100%;
    height: 52px;
    border: 2px solid #b2b2b2;
    outline: none;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'lator', sans-serif;
    color: #000;
  }
  .form__input[type='text']:hover,
  .form__input[type='text']:focus {
    border-color: #BE9D6A;
  }
  .form__input[type='button'] {
    width: 100%;
    height: 52px;
    background: #BE9D6A;
    font-size: 18px;
    font-family: 'latob', sans-serif;
    font-weight: bold;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
  }
  .form__input[type='button']:hover {
    background: #C6AC85;
  }
  .form__input[type='button']:focus {
    background: #A38E6D;
  }
  .form__small-desc {
    margin-top: 8px;
    font-size: 14px;
    font-family: 'lator', sans-serif;
    color: rgba(0, 0, 0, 0.3);
  }
  .form__small-desc a {
    opacity: 0.3;
  }
  .form__small-desc a:hover {
    opacity: 1;
  }
  .sign-up-detail {
    padding: 20px 0;
    background: #fff;
  }
  .sign-up-detail__block {
    padding: 0;
    border: 0;
  }
  .sign-up-detail__container {
    display: flex;
    flex-direction: column;
  }
  .sign-up-detail__column {
    width: 100%;
  }
  .sign-up-detail__title,
  .sign-up-detail__subtitle {
    font-size: 22px;
    line-height: 28px;
  }
  .sign-up-detail__desc {
    font-size: 18px;
    line-height: 24px;
  }
}
.situations__container {
  width: 100%;
  height: 520px;
  display: flex;
  flex-direction: row;
}
.situations .block_blue {
  display: flex;
  justify-content: flex-end;
}
.situations .block_gray {
  padding-top: 70px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.situations__desc {
  margin-top: 0;
  margin-bottom: 12px;
  width: 486px;
  margin-left: 60px;
}
.situations__note {
  width: 628px;
  position: absolute;
  border: 4px solid #be9d6a;
  background-color: #fff;
  padding: 25px 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
  right: 40px;
}
.situations__title {
  margin: 0;
  margin-top: 95px;
  margin-right: 65px;
  padding: 0;
  width: 570px;
  color: #fff;
  font-family: 'serifb', sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
}
.situations__desc {
  margin-bottom: 12px;
  font-size: 22px;
  font-family: 'lator', sans-serif;
  line-height: 30px;
  color: #000;
}
.note__desc {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  margin-left: 0;
  font-size: 18px;
  font-family: 'lator', sans-serif;
  line-height: 24px;
  color: #000;
}
.note__desc:last-child {
  margin-bottom: 0;
}
.note__desc_small {
  width: 70%;
}
.note__text-bold {
  font-size: 18px;
  font-family: 'latob', sans-serif;
  font-weight: bold;
  color: #000;
  line-height: 24px;
}
@media screen and (max-width: 1300px) {
  .situations__block {
    padding-top: 0;
  }
  .situations__title {
    font-size: 22px;
    line-height: 28px;
    margin: 30px 5%;
  }
  .situations__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .situations__desc {
    margin-top: 0;
    margin-bottom: 12px;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 24px;
    margin-left: 0px;
  }
  .situations__note {
    width: 100%;
    border: 4px solid #be9d6a;
    background-color: #fff;
    padding: 25px 5%;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    box-sizing: border-box;
    right: 0px;
  }
  .note__desc {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    margin-left: 0;
    font-size: 18px;
    font-family: 'lator', sans-serif;
    line-height: 24px;
    color: #000;
  }
  .note__desc:last-child {
    margin-bottom: 0;
  }
  .note__desc_small {
    width: 100%;
  }
}
.skill {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 80px;
}
.skill__title {
  width: 60%;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  font-size: 42px;
  font-family: 'serifb', sans-serif;
  color: #000;
  line-height: 50px;
  font-weight: bold;
}
.skill__desc {
  width: 70%;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  font-size: 22px;
  font-family: 'lator', sans-serif;
  line-height: 30px;
  color: #000;
}
.skill__subtitle {
  width: 80%;
  margin: 60px 0 48px 0;
  padding: 0;
  font-size: 32px;
  font-family: 'serifb', sans-serif;
  color: #000;
  font-weight: bold;
  line-height: 38px;
}
.skill__body {
  position: relative;
  padding: 48px 60px;
  width: 100%;
  background: #fff;
  border: 1px solid #BE9D6A;
  display: flex;
  flex-direction: column;
}
.skill__body:before {
  top: 40px;
  left: 40px;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  position: absolute;
  content: '';
  display: block;
  z-index: -1;
}
.skill__line {
  margin-bottom: 52px;
  width: 100%;
  height: 1px;
  border: 0;
  background: #BE9D6A;
}
.skill__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.skill__item {
  margin-bottom: 40px;
  width: 45%;
  display: flex;
  flex-direction: row;
  padding-right: 5%;
}
.skill__item-icon {
  min-width: 100px;
  height: 100px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill__item-icon_small {
  min-width: 20px;
  height: 20px;
  align-items: flex-start;
  padding-top: 10px;
}
.skill__item-content {
  margin: 0;
  padding: 0;
  margin-top: 0px;
}
.skill__item-content-title {
  width: 80%;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: 'latob', sans-serif;
  font-weight: bold;
  color: #000;
  line-height: 38px;
}
.skill__item-content-desc {
  width: 60%;
  margin-top: 8px;
  padding: 0;
  font-size: 22px;
  font-family: 'lator', sans-serif;
  color: #000;
  line-height: 30px;
}
@media screen and (max-width: 1300px) {
  .skill__title,
  .skill__subtitle {
    font-size: 22px;
    line-height: 28px;
  }
  .skill__desc {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
  }
  .skill__body {
    padding: 5%;
    box-sizing: border-box;
  }
  .skill__body:before {
    top: 40px;
    left: 40px;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    position: absolute;
    content: '';
    display: none;
    z-index: -1;
  }
  .skill__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .skill__item {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .skill__item-content-title {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
  }
  .skill__item-content-desc {
    font-size: 16px;
    line-height: 20px;
  }
}
.specialists {
  position: relative;
  width: 100%;
  height: 1240px;
  background: #fff url('../img/specialists-background.png') repeat-x center top;
}
.specialists__photo {
  margin-top: 24px;
}
.specialists__list {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 280px;
  z-index: 10;
  bottom: 140px;
  display: flex;
  justify-content: center;
  list-style: none;
}
.specialists__list-item {
  margin-right: 24px;
  position: relative;
  width: 226px;
  height: 270px;
}
.specialists__list-item:last-child {
  margin-right: 0;
}
.specialists__list-link {
  top: 0;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
  background: url('../img/specialist-link.png') repeat-x 0px 100px;
  z-index: 112;
  opacity: 1;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}
.specialists__list-link:hover,
.specialists__list-link_active {
  border-color: #BE9D6A;
  text-decoration: none;
}
.specialists__list-photo {
  top: 0;
  position: absolute;
  z-index: -1;
}
.specialists__list-box {
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
}
.specialists__list-surname,
.specialists__list-name {
  margin: 0 15px;
  padding: 0;
  display: block;
  width: 100%;
  font-size: 18px;
  font-family: 'latob', sans-serif;
  color: #fff;
  line-height: 22px;
  text-decoration: none;
}
.specialists__list-name {
  margin-bottom: 4px;
}
.specialists__list-post {
  margin: 0 5px 11px 15px;
  font-size: 14px;
  font-family: 'lator', sans-serif;
  color: #BE9D6A;
  line-height: 18px;
}
.specialists__container {
  width: 100%;
  height: 520px;
  display: flex;
  flex-direction: row;
}
.specialists__container:nth-child(1) {
  width: 1246px;
  height: auto;
  flex-direction: column;
}
.specialists__title {
  margin: 80px 0 60px 0;
  font-size: 42px;
  font-family: 'serifb', sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.specialists__space-bottom {
  bottom: 30px;
  position: absolute;
  width: 600px;
  height: 60px;
  background: url('../img/gradient4.png') repeat-x;
}
.specialists__space-top {
  top: 110px;
  position: absolute;
  width: 600px;
  height: 60px;
  background: url('../img/gradient4.png') repeat-x;
  transform: rotate(180deg);
}
.specialists__box {
  height: 370px;
  padding-right: 60px;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.specialists__box::-webkit-scrollbar {
  width: 0;
}
.specialists__slide {
  margin-top: 48px;
  width: 600px;
  height: 432px;
}
.specialists__slide-post {
  font-size: 18px;
  font-family: 'serifb', sans-serif;
  font-weight: bold;
  line-height: 24px;
  color: #BE9D6A;
  margin-bottom: 8px;
}
.specialists__slide-name {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-family: 'serifb', sans-serif;
  font-weight: bold;
  line-height: 38px;
  color: #000;
  margin-bottom: 8px;
}
.specialists__slide-skill,
.specialists__slide-education {
  font-size: 22px;
  font-family: 'serifb', sans-serif;
  line-height: 31px;
  color: #000;
  margin-bottom: 8px;
}
.specialists__slide-skill-content,
.specialists__slide-education-content {
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  font-family: 'lator', sans-serif;
  color: #000;
  line-height: 24px;
}
.specialists .block_white {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background: #fff;
}
.specialists .block_white:before {
  bottom: -40px;
  left: 0;
  position: absolute;
  content: '';
  width: 95%;
  height: 40px;
  background: #fff;
  opacity: 0.1;
}
.specialists .block_transparent {
  background: 0;
}
@media screen and (max-width: 1300px) {
  .specialists {
    height: auto;
  }
  .specialists__photo {
    display: none !important;
  }
  .specialists__slide,
  .specialists__slide-content {
    height: auto;
  }
  .specialists__slide-name {
    font-size: 22px;
    line-height: 28px;
  }
  .specialists__space-top {
    display: none;
  }
  .specialists__container {
    flex-direction: column;
    height: auto;
  }
  .specialists__container:nth-child(1) {
    width: 100%;
    height: 120px;
  }
  .specialists__box {
    height: auto;
    padding: 0;
  }
  .specialists__title {
    width: 80%;
    margin: 30px auto;
    font-size: 22px;
    line-height: 28px;
  }
  .specialists__slide {
    width: 90%;
    margin: 30px 5%;
  }
  .specialists__list {
    position: relative;
    margin: 0;
    padding: 0 5%;
    width: 100%;
    height: 100px;
    z-index: 10;
    margin-top: 0;
    box-sizing: border-box;
    bottom: 0px;
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .specialists__list-item {
    margin-right: 24px;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .specialists__list-item:last-child {
    margin-right: 0;
  }
  .specialists__list-link {
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid transparent;
    background: url('../img/specialist-link.png') repeat-x 0px 100px;
    z-index: 112;
    opacity: 1;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
  }
  .specialists__list-link:hover,
  .specialists__list-link_active {
    border-color: #BE9D6A;
    text-decoration: none;
  }
  .specialists__list-photo {
    top: 0;
    position: absolute;
    z-index: -1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .specialists__list-box {
    margin: 0 0 0 0;
    display: none;
    flex-direction: column;
    height: auto;
  }
  .specialists__list-surname,
  .specialists__list-name {
    margin: 0 15px;
    padding: 0;
    display: block;
    width: 100%;
    font-size: 14px;
    font-family: 'latob', sans-serif;
    color: #fff;
    line-height: 18px;
    text-decoration: none;
  }
  .specialists__list-name {
    margin-bottom: 4px;
  }
  .specialists__list-post {
    margin: 0 5px 11px 15px;
    font-size: 14px;
    font-family: 'lator', sans-serif;
    color: #BE9D6A;
    line-height: 18px;
  }
}
.team {
  position: relative;
  padding-bottom: 650px;
  overflow: hidden;
  background: #1c1c40;
}
.team__photo {
  bottom: -4px;
  position: absolute;
}
.team__photo img {
  width: 100%;
  height: auto;
}
.team__title {
  margin: 0;
  padding: 0;
  width: 80%;
  margin-top: 4px;
  font-size: 42px;
  font-family: 'serifb', sans-serif;
  font-weight: bold;
  line-height: 50px;
  color: #fff;
}
.team__list {
  margin: 0;
  margin-top: 60px;
  padding: 0;
  list-style: none;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.team__list-item {
  margin-bottom: 20px;
  width: 29%;
  padding: 6px 20px;
  border-left: 4px solid #BE9D6A;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.team__list-title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 32px;
  font-family: 'serifb';
  font-weight: bold;
  line-height: 38px;
  color: #fff;
}
.team__list-desc {
  width: 90%;
  font-size: 22px;
  line-height: 30px;
  font-family: 'lator', sans-serif;
  color: #fff;
  opacity: 0.7;
}
@media screen and (max-width: 1300px) {
  .team {
    padding-bottom: 0px;
  }
  .team__title {
    font-size: 22px;
    line-height: 28px;
  }
  .team__photo {
    position: relative;
  }
  .team__list {
    margin: 0;
    margin-top: 60px;
    padding: 0;
    list-style: none;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .team__list-item {
    width: 100%;
  }
  .team__list-title {
    font-size: 20px;
    line-height: 24px;
  }
  .team__list-desc {
    font-size: 16px;
    line-height: 20px;
  }
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
