// sign up

.sign-up {
    padding: 60px 0;
    background: @white;

    &__title {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 42px;
        font-family: 'serifr', sans-serif;
        color: @black;
        line-height: 50px;
    }

    &__form {
        margin-top: -4px;
    }

    &__body {
        margin: 0 auto;
        margin-top: 40px;
        width: 980px;
        display: flex;
        flex-direction: row;
    }

    &__phonenumber, &__form {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    &__phonenumber-title {
        margin-left: 36px;
        margin-bottom: 13px;
        font-size: 22px;
        font-family: 'lator', sans-serif;
        color: @black;
    }

    &__phonenumber-call {
        height: 55px;
        display: flex;
        flex-direction: row;
        align-items: center;

        font-size: 42px;
        font-family: 'serifb';
        font-weight: bold;
        line-height: 50px;
        color: @black;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: @yellow;
        }
    }

    &_phonenumber-icon {
        display: block;
        width: 24px;
        height: 24px;
    }

    .sign-up__phonenumber-space {
        display: block;
        width: 12px;
        height: 55px;
    }

}

// / sign up

// sign up

.sign-up-detail {
    padding: 60px 0;
    background: @white;

    &__container {
        display: flex;
        flex-direction: row;
    }

    &__column {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        width: 80%;
        margin: 0;
        padding: 0;
        margin-bottom: 28px;
        font-size: 42px;
        font-family: 'serifr', sans-serif;
        color: @black;
        line-height: 50px;
    }

    &__block {
        margin-bottom: 40px;
        padding: 0px 0 2px 20px;
        border-left: 4px solid @yellow;

        &:last-child {
            margin-bottom: 0;
        }

        &-title {
            margin: 0;
            padding: 0;
            margin-bottom: 8px;
            font-size: 22px;
            font-family: 'lator', sans-serif;
            line-height: 30px;
            color: @black;
        }

        &-phone {
            font-size: 32px;
            font-weight: bold;
            font-family: 'serifb', sans-serif;
            color: @black;
            line-height: 38px;
            text-decoration: none;

            &:hover {
                color: @yellow;
                text-decoration: none;
            }
        }

    }

    &__subtitle {
        margin: 0;
        padding: 0;
        margin-bottom: 39px;
        font-size: 32px;
        font-weight: bold;
        font-family: 'serifb';
        font-weight: bold;
    }

    &__desc {
        width: 70%;
        font-size: 22px;
        font-family: 'lator', sans-serif;
        color: @black;
        line-height: 30px;
    }

    &__form {
        margin-top: -4px;
        width: 100% !important;

        .form__title {
            padding: 0;
            margin: 0;
            margin-top: 6px;
            margin-bottom: 16px;
        }

    }

    &__body {
        margin: 0 auto;
        margin-top: 40px;
        width: 980px;
        display: flex;
        flex-direction: row;
    }

    &__phonenumber, &__form {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    &__phonenumber-title {
        margin-left: 36px;
        margin-bottom: 13px;
        font-size: 22px;
        font-family: 'lator', sans-serif;
        color: @black;
    }

    &__phonenumber-call {
        height: 55px;
        display: flex;
        flex-direction: row;
        align-items: center;

        font-size: 42px;
        font-family: 'serifb';
        font-weight: bold;
        line-height: 50px;
        color: @black;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: @yellow;
        }
    }

    &_phonenumber-icon {
        display: block;
        width: 24px;
        height: 24px;
    }

    .sign-up__phonenumber-space {
        display: block;
        width: 12px;
        height: 55px;
    }

}

// / sign up

@media screen and (max-width: @tablet) {

    .sign-up {
        padding: 30px 0;

        &__title {
            font-size: 24px;
            line-height: 32px;
        }

        &__body {
            width: 80%;
            flex-direction: column;
        }

        &__phonenumber, &__form {
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: center;

            &-title {
                margin: 0;
            }
        }

        .sign-up__phonenumber-call {
            font-size: 20px;
            width: 100%;
            text-align: center;
            justify-content: center;
        }

    }

    .form {
        display: flex;
      
        &__title {
            font-size: 22px;
            font-family: 'lator', sans-serif;
            color: @black;
        }
      
        &__body {
            display: flex;
            flex-direction: column;
        }
      
        &__input[type='text'] {
            padding: 0 22px;
            width: 100%;
            height: 52px;
            border: 2px solid @gray;
            outline: none;
            box-sizing: border-box;
            font-size: 18px;
            font-family: 'lator', sans-serif;
            color: @black;
      
            &:hover, &:focus {
                border-color: @yellow;
            }
        }
      
        &__input[type='button'] {
            width: 100%;
            height: 52px;
            background: @yellow;
            font-size: 18px;
            font-family: 'latob', sans-serif;
            font-weight: bold;
            border: 0;
            outline: none;
            color: @white;
            cursor: pointer;
      
            &:hover {
                background: @yellow-light;
            }
      
            &:focus {
                background: @yellow-dark;
            }
        }
      
        &__small-desc {
            margin-top: 8px;
            font-size: 14px;
            font-family: 'lator', sans-serif;
            color: rgba(0, 0, 0, 0.3);
      
            a {
                opacity: 0.3;
      
                &:hover {
                    opacity: 1;
                }
      
            }
      
        }
      
      }

      .sign-up-detail {
        padding: 20px 0;
        background: @white;
    
        &__block {
            padding: 0;
            border: 0;
        }

        &__container {
            display: flex;
            flex-direction: column;
        }

        &__column {
            width: 100%;
        }

        &__title, &__subtitle {
            font-size: 22px;
            line-height: 28px;
        }

        &__desc {
            font-size: 18px;
            line-height: 24px;
        }

      }

}